.block1 {
  background-color: yellow;
}
.block2 {
  background-color: green;
}
.block3 {
  background-color: orange;
}
.block4 {
  background-color: blue;
}
.block5 {
  background-color: red;
}
@media (min-width: 320px) and (max-width: 480px) {
  .block1,
  .block2,
  .block3,
  .block4,
  .block5 {
    background-color: violet;
    color: blue;
  }
}
@media (min-width: 481px) and (max-width: 760px) {
  .block1,
  .block2,
  .block3,
  .block4,
  .block5 {
    background-color: coral;
  }
}
@media (min-width: 761px) and (max-width: 960px) {
  .block1,
  .block2,
  .block3,
  .block4,
  .block5 {
    background-color: brown;
    color: white;
  }
}
@media print {
  .block1,
  .block2,
  .block3,
  .block4,
  .block5 {
    border: 1px solid;
  }
}
